    .page--menu-page__background {
      background-color: #333;
    }
    
    .page--menu-page__content {
      color: white;
    }

    .menu-close,
    .menu-close > .toolbar-button {
      color: #999;
    }

    .menu-list,
    .menu-item:first-child,
    .menu-item:last-child,
    .menu-item {
      background-color: transparent;
      background-image: none !important;
      border-color: #fff;
      color: #fff !important;
    }

    .menu-item {
      line-height: 52px;
      height: 52px;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    }

    .menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-notification {
      display: inline-block;
      margin-top: 12px;
      font-size: 14px;
      height: 16px;
      line-height: 16px;
      min-width: 16px;
      font-weight: 600;
    }
    .center
    {
	    text-align: center;
    }

    .bottom-menu-list,
    .bottom-menu-item:first-child,
    .bottom-menu-item:last-child,
    .bottom-menu-item {
      border-color: #393939;
      background-color: transparent;
      background-image: none !important;
      color: #ccc;
    }

    .bottom-menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }


.button-bar {
	width: 75%;
    margin:10px auto;
}

.button-bar__button {
	border: 1px solid #000;
	border-top: 1px solid #000;
  color: #000;
}
.button-bar__item:first-child > .button-bar__button {
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}

.button-bar__item:last-child > .button-bar__button {
	border-right: 1px solid #000;
	border-left: 0px solid #000;
}

.button-bar__item.active > .button-bar__button, :checked + .button-bar__button {
	background-color: #000;
	color: #fff;
}
    
    .item {
      padding: 10px;
      line-height: 1;
    }
    .item-thum {
      background-color: #ccc;
      width: 50px;
      height: 50px;
      border-radius: 50% !important;
    }
.item-big {
      background-color: #ccc;
      width: 120px;
      height: 120px;
      border-radius: 50% !important;
    }
.item-xs {
      background-color: #ccc;
      width: 20px;
      height: 20px;
    }

.contact-image {
      background-color: #ccc;
      width: 20px;
      height: 20px;
  margin: 10px 10px 0 0;
    }
    .item-title {
      font-size: 15px;
      font-weight: 500;
    }
    .item-desc {
      font-size: 14px;
      color: #666;
      line-height: 1.3;
      margin: 4px 0 0 0;
      padding: 0 30px 0 0;
    }
    .item-label {
      font-size: 12px;
      color: #999;
      float: right;
    }
    ons-carousel-item {
  text-align: center;
}
#map_canvas{
  height: 300px;
  background: #ccc;
}


ons-carousel-item img {
  margin-top: 40px;
  width: 95%;
}
.name
{
margin-top: 10px;
}
.button1
{
width: 30%;
}
.tabBarText 
{
 font-size: 10px;
 line-height: 20%;
}
.tab-bar .fa
{
margin-top: 5px; 
display: block;
}
#map-canvas img
{
width: 100%;
height: auto;
max-height: 300px;
}
.center
{
margin: 0 auto;
}
.button1
{
margin-top:20px;
margin-bottom: 20px;
}
.switch
{
float: right;
margin-bottom: 10px;
}
.img-circle img {
    margin-top: 10px;
    border-radius: 50%;
    
}
.checkbox__checkmark{
  float: right;
}